.bg {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: #FFF;
    background-size: cover !important;
    
    background-image: url(../img/bg.jpg);
    -webkit-filter: blur(0px);
    filter: blur(0px);
}
    
.mover {
    font-family: "Open Sans";
    position: relative;
    top: 0px;
    left: 15px;
}

.active {
    color: blue;
}